
/* Page Styling  */
*
* {
  box-sizing: border-box;
}

body {
  /* Typography */

 /* background: url('./concrete_seamless.png'); */
  line-height: 27px;

  /* Visual 
  background-color: #ccc;*/
}

.container{
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 10px;
  clear: both;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  color:#8d1a9cb9
}

#Your-WScore, #Your-LScore {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bolder;
  color: black;
}

#panel, #flip {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  background-color: blue;
  border: solid 2px #fff;
  color: white;
  width: 270px;
  height: 100px;
  text-align: center;
  margin-left: 500px;
}

#panel {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  width:   330px;
  padding: 20px;
  display: none;
  text-align: center;
}

#img_gameover {
width: 600px;
height: 300px;

}

.centered {
  position: fixed;
  top: 30%;
  left: 30%;
  margin-top: -100px;
  margin-left: -75px;
}

.exp {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color:#0e42d1;
}
 
.red {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: rgb(216, 2, 2);
}
 

.clickme {
  COLOR:rgb(12, 182, 26);
  font-size: xx-large;
  
}


#quiz {
  clear:both;
}

/* Logo Styling  */
h1{
  width:600px;
  height: 90px;
  padding: 10px;
  background: #4aaaa5;
  float:left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 10px;
}

/* Paragraph Styling  */
#instructions {
  color: yellow;
  background-color: green;
  padding: 5px 10px 15px 10px;
  clear:both;
  width: 800px;
  margin-bottom:5px;
}

#computerNumber {
  color: black;
  background-color: green;
  padding: 5px 10px 15px 10px;
  float:left;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 15px;
}

/* wins and losses   */
#winsLosses {
  clear:both;
   height: 100px;
   width: 100px;
   background-color:#3e5288;
 }

/* wins and losses   */
img {
 height: 75px;
 width:  75px;
 padding:3px;
}

  #crystals {
    margin-top: 10px;
    clear:both;
    width:400px;
  }

  .thetotalScore {
    background-color:#056e7594;
    color: white;
    width: 200px;
  }

  .scorebox {
    background-color:#056e7594;
    color: white;
    width: 200px;
  }